name: atomic_desing_system_package
description: "A new Flutter package project."
version: 0.0.1
homepage: https://github.com/bruno8311/fake_store_api_package
environment:
  sdk: ^3.8.1
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
